main .professores {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px
}

main .professor {
  width: 340px;
  background-color: var(--verde);
  padding: 5px;
}

main .professor h4 {
  font-weight: 500;
  font-size: 19px;
}

main .professor ul {
  margin: 5px;
  list-style: none;
}

main .professor li::before {
  content: " - ";
}

main .professor img {
  width: 100%;
  height: 300px;
}
