:root {
  --branco: #ffffff;
  --cinza: #e9e9e9;
  --cinza-escuro: #2b2b2b;
  --verde: #3CBA7D;
  --verde-hover: #36a770;
  --preto: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

b {
  font-weight: 500;
}

.container {
  width: 80vw;
  height: 100vh;
  display: grid;
  margin: 0px auto;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto 200px;
}


header {
  height: 200px;
  color: var(--branco);
  display: grid;
  grid-template-rows: 150px 50px;
}

header .titulo {
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: var(--cinza-escuro);
}

header .titulo h5 {
  color: var(--verde);
}

header nav {
  display: flex;
  width: 100%;
}

header nav > * {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde);
}

header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--preto);
}

main {
  background-color: var(--cinza);
  padding: 20px;
}

footer {
  background-color: var(--cinza-escuro);
  padding: 40px 100px;
  display: flex;
}

footer h4 { 
  color: var(--verde);
}

footer .integrantes {
  width: 350px;
  display: flex;
  color: var(--branco);
  flex-direction: column;
}

footer #voltar-inicio {
  width: 50px;
  height: 50px;
  background-color: var(--verde);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
